@font-face {
    font-family: 'Roboto';
    src: url('https://fontscdn.blob.core.windows.net/fonts/assets/Roboto-Bold.ttf') format('ttf'),
         url('https://fontscdn.blob.core.windows.net/fonts/Roboto-Regular.ttf') format('ttf'),
         url('https://fontscdn.blob.core.windows.net/fonts/Roboto-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  